/* Reset some default styles */

:root {
    --dark: #212429;
    --white: #e7eaf2;
  
    --upload: #FCC43B;
    --reset: #fc4b3b;
    --process: #4CAF50;
    --download: #0099ff;
  
    --upload_txt: #5a4101;
    --reset_txt: #340f0b;
    --process_txt: #0d1e0e;
    --download_txt: #004675;
  
    --disabled: #777777;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    color: rgba(255, 255, 255, 0.934);
    background-color: var(--dark);
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

.container {
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: #222424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.drag-drop {
    position: relative; /* Add relative positioning */
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-drop p {
    margin: 0;
    padding: 50px 0;
    color: #888;
}

.drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}



.button {
    display: inline-block;
    z-index: 1;
    margin-top: 40px;
    margin-right: 10px;
    border-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.2s, box-shadow 0.2s, left 0.2s, top 0.2s; /* Add transitions for position and box-shadow */

    /* Add a subtle box shadow */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);


    /* Add initial position */
    position: relative;
    left: 2;
    top: 0;
}

/* Hover effect */
.button:hover {
    transform: scale(1.02); /* Increase the size by 5% on hover */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Increase the box shadow on hover */
    left: -2px; /* Move the button 5px to the right */
    top: -2px; /* Move the button 5px upward */
}

.button:active {
    transform: scale(1); /* Reset the size to normal */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Reset the box shadow */
    left: 0; /* Reset the left position */
    top: 0; /* Reset the top position */
}

#processButton {
    color: var(--upload_txt);/*var(--dark);*/
    background-color: var(--upload);/*var(--disabled);*/

}


#resetButton {
    color: var(--reset_txt);/*var(--dark);*/
    background-color: var(--reset);/*var(--disabled);*/

}

.tooltip-button:hover::before {
    opacity: 1; /* Show the tooltip on hover */
  }

  .highlight {
    color: var(--upload); /* Change this to the desired color */
    font-weight: bold;
}

.downlight {
    color: #AAAAAA; /* Change this to the desired color */
}

  