<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <h1>Image Deblurring</h1>

    <div>
        DUNET-128 ( <span class="highlight">D</span><span class="downlight">ifferential</span> <span class="highlight">U-Net</span><span class="downlight">work for </span> <span class="highlight">128</span><span class="downlight">x128 Chunks</span> )
    </div>


    <div class="container">

        <div class="drag-drop">
            <div class="drop-zone" id="dropZone">
                <p>Drag & Drop Image Here</p>
                <input type="file" id="imageInput" accept="image/*" />
            </div>
            <img id="imagePreview" alt="Image Preview" style="display: none;" />
        </div>
        <div>
            <button id="processButton" class="button" >Process Image</button>
            <button id="undoButton" class="button" >Undo</button>
            <button id="resetButton" class="button" >Reset</button>
        </div>
    </div>
</body>
</html>
